@using AllupVol2.ViewModels
@model RegisterVM
<section class="register-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Create New Account</h4>

                    <form method="post">
                        <div class="single-form">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" placeholder=" Name">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="single-form">
                            <label asp-for="Surname">Surname</label>
                            <input asp-for="Surname"  placeholder=" Surname">
                            <span class="text-danger" asp-validation-for="Surname"></span>
                        </div>
                        <div class="single-form">
                            <label asp-for="Username">Username</label>
                            <input asp-for="Username"  placeholder=" Username">
                            <span class="text-danger" asp-validation-for="Username"></span>
                        </div>
                        <div class="single-form">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email"  placeholder=" Email">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="single-form">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" placeholder=" Password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="single-form">
                            <label asp-for="ComfirmPassword">ComfirmPassword</label>
                            <input asp-for="ComfirmPassword"  placeholder=" ComfirmPassword">
                            <span class="text-danger" asp-validation-for="ComfirmPassword"></span>
                        </div>
                        
                        <div class="single-form">
                            <button class="main-btn main-btn-2">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>